header {
	width: 19cm;
	height: 2cm;
	background-color: rgba(152,222,201,0.3);
}
header hr {
	border-color: rgba(172,242,221,0.8);
	margin-top: 14px;
}
article {
	margin-left: 1.5cm;
}
section {
	background-color: rgba(152,222,201,0.3);
	padding-bottom: 2px;
	display: none;
}

aside{
	transition: left 0.5s;
	position: fixed;
	top: 14cm;
	left: -15.1cm;
	width: 15cm;
	height: 5cm;
	background: linear-gradient(75deg, rgba(152,222,201,0.3),rgba(152,222,201,0.1), rgba(152,222,201,0.0));
	padding: 6px;
	padding-right: : 20px;
}
aside:hover {
	left: 0cm;
}
.podpiss {
	margin-top: 0.5cm;
	margin-left: 50%;
}
.pols {
	width: 80%;
	margin-left: 0px;
}
input {
	border-width: 0px;
	
}
footer input {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
.in1 {
	width: 2cm;
}
.in2 {
	width: 1.2cm;
}
.in3 {
	width: 1cm;
	border-width: 0px;
	text-align: right;
}
.in33 {
	width: 1.3cm;
	border-width: 0px;
	text-align: right;
}
.in4 {
	width: 1cm;
	border-width: 0px;
}
.in5 {
	width: 0.5cm;
	border-width: 0px;
}
.in6 {
	width: 1.5cm;
	border-width: 0px;
	text-align: right;
}
.in7 {
	display: none;
	width: 1.5cm;
	border-width: 0px;
	text-align: right;
}

.knopka {
	display: none;
}
.knopka22 {
	display: none;
	width: 100%;
}

.chemy{
	padding-left: 2.5cm;
}
.chemy:hover .knopka{
	display: inline;
}
footer:hover .knopka22{
	display: inline;
}
.reg_int {
	width: 10cm;
	background-color: rgba(225,251,255,0.1);
}
.reg_div:hover .knopka{
	display: inline;
}
.colorant{
	padding-left: 2.5cm;
}
.colorant:hover .knopka{
	display: inline;
	
}
.podpis1 {
	width: 7cm;
	background-color: rgba(225,251,255,0.1);
}
.noborder {
	border-width: 0px;
	width: 7cm;
}
span {
	padding-left: 1cm;
}

p {
	font-size: 14px;
	margin: 2px;
	padding-bottom: 1px;
}
body {
	width: 20.5cm;
	height: 29.5cm;
	background: linear-gradient(DeepSkyBlue, #4831A3); 
	background-repeat: no-repeat;
}
footer {
	display: none;
	position: absolute;
	top: 22cm;
	width: 20.5cm;
	transform-origin: top left;
	transform: scale(1);
}
.tabdata {
	width: 1.5cm;
	
	border-width: 0px;
	border-left-width: 1px;
}
.tabdata2 {
	width: 1.5cm;
	background-color: rgba(225,251,255,0.1);
	
}
table {
	border: 1px;
	border-color : Black;
	border-collapse : collapse;
	padding: 0;
}
#foot_tab {
	width: 100%;
}
.tab {
	
	height: 100%;
	font-size: 14px;
	width: 100%;
	}
.sp_titlee {
	width: 13cm;
	background-color: rgba(225,251,255,0.1);
}
#sp_date {
	width: 98%;
	background-color: rgba(225,251,255,0.1);
}
.col_1 {
	vertical-align:  top;
	width: 5.8cm;
	padding: 0px;
}
.col_2 {
	vertical-align:  top;
	width: 7cm;
	padding: 0px;
}
.col_3 {
	vertical-align:  top;
	width: 7.7cm;
	padding: 0px;
}
.tabname {
	border-width: 0px;
	border-right-width: 1px;
}
.stitle {
	border-width: 0px;
	border-bottom-width: 1px;
}
#OBEMselect {
	background-color: rgba(225,251,255,0.9);
	border-width: 0px;
	padding-left: 0px;
	margin-left: 0px;
}
input {
	background-color: rgba(225,251,255,0.9);
	border-width: 0px;
}
#load {
	display: none;
}
.selected {
  opacity: 0.6;
}
#allspis {
	display: none;
}
#OBEMselect {
	display: none;
}
#mashine1 {
	text-align: right;
}
#forscale {
	transform-origin: top left;
	transform: scale(1);
}
#ScaleRoll {
	position: relative;
	top: 15px;
}


